<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <fieldset>
      <form class="" action="/Admin/AllEmpList">
        <input type="submit" name="" value="AllEmpList">
      </form>
      <br><hr><br>
      <form class="" action="/Admin/RegEmployee">
        <input type="submit" name="" value="Register new Employee">
      </form>
    </fieldset>
  </body>
</html>
